:root {
    --brick: #A4161A;
    --light: #fff;
    --dark: #660708;
}

*, html{
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--dark);
    font-family: optima;
    line-height: 150%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--brick);
    color: var(--light);
}

main {
    max-width: 796px;
    margin: auto;
    color: var(--light);
}

footer {
    color: var(--light);
    padding: 20px;
}

nav {
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: var(--light);
    padding: 4px;
}

p a {
    color: var(--light);
}

article {
    width: calc(50% - 16px);
    margin-bottom: 20px;
    padding: 8px;
}

article:first-of-type {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 8px;
    text-align: center;
}

img {
    margin: 8px 0;
}

#about-me {
    text-align: center;
    align-items: center;
}

#about-me img {
    max-width: 200px;
    border-radius: 100%;
}

#work img {
    width: 100%;
}

#work div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contact-me nav {
    display: flex;
    justify-content: space-around; 
}

@media screen and (max-width: 576px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 4px;
    }

    article {
        width: 100%;
    }

    #contact-me nav {
        flex-direction: column;
    }
}