/* adding variables for colors */
:root {
    --brick: #A4161A;
    --light: #fff;
    --dark: #660708;
}

*, html{
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--dark);
    font-family: optima;
    line-height: 150%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--brick);
    color: var(--light);
}
/* set max-width so the content doesnt float to edgs of page */
main {
    max-width: 796px;
    margin: auto;
    color: var(--light);
}

footer {
    color: var(--light);
    padding: 20px;
}

nav {
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: var(--light);
    padding: 4px;
}

p a {
    color: var(--light);
}
/* made so all articles fall in the prescribed grid pattern */
article {
    width: calc(50% - 16px);
    margin-bottom: 20px;
    padding: 8px;
}
/* part of grid pattern */
article:first-of-type {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 8px;
    text-align: center;
}

img {
    margin: 8px 0;
}

#about-me {
    text-align: center;
    align-items: center;
}
/* circle image */
#about-me img {
    max-width: 200px;
    border-radius: 100%;
}

#work img {
    width: 100%;
}
/* so that boxes flow in correct form */
#work div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contact-me nav {
    display: flex;
    justify-content: space-around; 
}
/* makes webpage respoonsive */
@media screen and (max-width: 576px) {
    /* makes links in header form into column when viewport is altered */
    header {
        flex-direction: column;
        align-items: center;
    }
    /* adds margin for the nav elements so they have some breathing room when viewport altered */
    nav a {
        margin: 4px;
    }
    /* makes all boxes form into column when viewport is altered */
    article {
        width: 100%;
    }
    /* makes contact me elements form into column when viewport is altered */
    #contact-me nav {
        flex-direction: column;
    }
}