*, html{
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
    font-family: optima;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: darkblue;
    color: white;
}

nav {
    padding: 12px;
}

nav a {
    text-decoration: none;
    color: white;
}

article {
    margin-bottom: 12px;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h2 {
    margin-bottom: 8px;
    text-align: center;
}

img {
    margin: 8px 0;
}

#about-me {
    text-align: center;
    align-items: center;
}

#about-me img {
    max-width: 200px;
    border-radius: 100%;
}

#work img {
    width: 100%;
}

#contact-me nav{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    header {
        flex-direction: column;
    }
    nav a {
        margin: 4px;
    }
}