body {
    background-color: aliceblue;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 2% 2% 2% 0;
    background-color: grey;
    color: whitesmoke;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

h1 {
    padding: 2%;
    background-color: darkcyan;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    margin: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

